@mixin container() {
    max-width: 340px;
    padding:$padding-phone;
    margin: auto;

    @media (min-width:$tablet) {
        max-width: 900px;
        padding: $padding-tablet;
    }
    @media (min-width:$desktop) {
        max-width: 1300px;
        padding: $padding-desktop;
    }
}